@font-face {
    font-family: matrix;
    src: url(fuentes/matrix.ttf);
  }

*{
    box-sizing: border-box;
}

#fondo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -9999;
    background-color: #000;
    font-family: matrix;
    font-size: 1rem;
}
